.form {
  margin: 30px;
  border: 2px black solid;
  border-radius: 7px;
  padding: 10px;
  justify-content: center;
  position: relative;
  width: 300px;
  background-color: #f3f3f3;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /* center it */
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  font-size: 20px;
  margin-bottom: 10px;
  padding: 10px;
}

input {
  font-size: 16px;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 90%;
}